* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.container {
  max-width: 1536px;
  width: 100%;
  margin: auto;
}

.nav {
  position: fixed;
  background-color: white;
  z-index: 100;
}

.allcontent {
  margin-top: 70px;
  position: relative;
  z-index: 0;
}

.sidebar {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.items-start {
  align-items: flex-start;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.gap2 {
  gap: 8px;
}

.gap4 {
  gap: 16px;
}

.gap8 {
  gap: 28px;
}

.gap12 {
  gap: 44px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.p-6 {
  padding: 24px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 28px;
}

.mt-12 {
  margin-top: 48px;
}

.mb-8 {
  margin-bottom: 28px;
}

.mb-12 {
  margin-bottom: 48px;
}

.mt-10 {
  margin-top: 40px;
}

.mt-40 {
  margin-top: 140px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pr-4 {
  padding-right: 16px;
}

.hr {
  border: 1px solid #f2f0ff;
}

.rounded-full {
  border-radius: 100%;
}

.rounded {
  border-radius: 10px;
}

.rounded-sm {
  border-radius: 5px;
}

.absolute {
  position: absolute;
  z-index: 0;
}

.leftsearch {
  left: 10px;
}

.rightsearch {
  right: 40px;
}

.topsearch {
  top: 8px;
}

.pl10 {
  padding-left: 40px;
}

.underline {
  text-decoration: underline;
}

.underline-none {
  text-decoration: none;
}

.relative {
  position: relative;
  z-index: 100;
}

.icon-tabler-selector {
  margin-top: -8px;
}

.design {
  color: #515154;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.cdesign {
  text-align: center;
  color: white;
  background-color: #8b3dff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 136px;
}
.cdesign:hover {
  background-color: #9e77f3;
}

.flyerdesign {
  text-align: center;
  color: white;
  background-color: #8b3dff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 180px;
  font-weight: 600;
}
.flyerdesign:hover {
  background-color: #9e77f3;
}

.trydesing {
  text-align: center;
  color: #0d1216;
  background-color: rgba(123, 151, 181, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 244px;
  font-weight: 600;
}
.trydesing:hover {
  background-color: rgba(57, 76, 96, 0.15);
}

.homedesing {
  text-align: center;
  color: #0d1216;
  background-color: rgba(57, 76, 96, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 244px;
  font-weight: 600;
}
.homedesing:hover {
  background-color: rgba(57, 76, 96, 0.15);
}

.tempdesing {
  text-align: center;
  color: #0d1216;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 244px;
  font-weight: 400;
  background-color: white;
}
.tempdesing:hover {
  background-color: rgba(123, 151, 181, 0.15);
}

.color {
  color: #fbbe28;
}

.colorblack {
  color: black;
}

.sidearea p {
  color: #0d1216;
  font-weight: 600;
}

.free {
  margin-top: 5px;
  color: rgba(13, 18, 22, 0.7);
}

.tool {
  font-size: 16px;
  color: rgba(13, 18, 22, 0.86);
  font-weight: 600;
}

.king {
  background-color: #fbbe28;
  width: 20px;
  height: 20px;
}

.thanks p {
  color: hsla(0deg, 0%, 100%, 0.9);
  text-align: center;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 600;
}

.search {
  max-width: 600px;
  width: 100%;
  outline: none;
}

.circle {
  width: 48px;
  height: 48px;
  background-color: white;
  cursor: pointer;
}
.circle:hover {
  scale: 1.25;
  transition: 1s;
}

.foryou {
  color: hsla(0deg, 0%, 100%, 0.9);
  font-weight: 600;
  margin-top: 5px;
  font-size: 12px;
}

.icon-tabler-star {
  color: #713adf;
}

.whiteboard {
  color: #21a663;
}

.present {
  color: #f90;
}

.social {
  color: #ff5154;
}

.video {
  color: #d269e6;
}

.website {
  color: #575efd;
}

.wanttry {
  color: #0d1216;
  font-weight: 700;
  font-size: 18px;
}

.box1 {
  background-color: rgba(64, 87, 109, 0.07);
  width: 192px;
}

.box2 {
  background-color: rgba(64, 87, 109, 0.07);
  width: 245px;
}

.box5 {
  width: 215px;
  height: 300px;
}

.box6 {
  width: 256px;
  height: 256px;
}

.box7 {
  width: 455px;
  height: 256px;
}

.box13 {
  width: 361px;
  height: 256px;
}

.width {
  width: 150px;
}

.swiper {
  width: 1536px !important;
  height: 100%;
}

.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0px;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: start;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --swiper-theme-color: black !important;
}

.createblank {
  background-color: black;
  width: 192px;
  height: 150px;
  opacity: 0.5;
  margin-top: -80px;
}

.searchbox {
  background-color: white;
  width: 40px;
  height: 40px;
}

.biggest {
  max-width: 1595px;
  width: 100%;
  background-color: #f2f0ff;
  color: #0d1216;
  font-size: 18px;
  font-weight: 600;
}

.watch {
  text-align: center;
  color: #0d1216;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 166px;
  font-weight: 400;
  background-color: rgba(57, 76, 96, 0.15);
}

.docs {
  color: #0d1216;
  font-size: 16px;
}

.docs1 {
  color: #0d1216;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.docs3 {
  color: #0d1216;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.recent {
  font-weight: 700;
  font-size: 24px;
  color: #0d1216;
}

.business-arrow {
  transform: rotate(-90deg);
  margin-top: 5px;
}

.businessdesign {
  text-align: center;
  color: #0d1216;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 244px;
  font-weight: 400;
  background-color: white;
}
.businessdesign:hover {
  background-color: rgba(123, 151, 181, 0.15);
}

.christmas {
  background-color: rgba(123, 151, 181, 0.15);
  text-align: center;
  color: #0d1216;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}
.christmas:hover {
  background-color: rgba(57, 76, 96, 0.15);
}

.cvchristmas {
  text-align: center;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  background: rgba(13, 18, 22, 0.7) !important;
}

.flyer {
  background-color: rgba(255, 226, 174, 0.25);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));
  max-width: 1567px;
  width: 100%;
}

.trend {
  line-height: 40px;
  font-weight: 700;
  font-size: 32px;
  color: #0d1216;
}

.border-b {
  width: 120px;
  border-bottom: 2px solid #713adf;
  padding-bottom: 5px;
}

.width1 {
  width: 340px !important;
}

.width6 {
  width: 455px !important;
}

.cvnav {
  height: 80px;
}

.cvarrow {
  transform: rotate(90deg);
}

.newarrow {
  color: hsla(0deg, 0%, 100%, 0.4);
}

.docscv {
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-top: -3px;
  cursor: pointer;
}

.searchcv {
  max-width: 351px;
  width: 100%;
  background-color: transparent;
  color: white;
}

.cvdesing {
  text-align: center;
  color: #0d1216;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 143px;
  font-weight: 600;
}
.cvdesing p {
  color: white;
}
.cvdesing:hover {
  background-color: hsla(0deg, 0%, 100%, 0.07);
}

.share {
  text-align: center;
  color: #0d1216;
  background-color: hsla(0deg, 0%, 100%, 0.95);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  font-weight: 600;
}
.share:hover {
  background-color: white;
}

.plus {
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  border-radius: 100%;
}
.plus:hover {
  background-color: hsla(0deg, 0%, 100%, 0.07);
}

.stats {
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  border-radius: 100%;
}
.stats:hover {
  background-color: hsla(0deg, 0%, 100%, 0.07);
}

.statscolor {
  color: white;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.place::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.place:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.place::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.search::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.search:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d1216;
  opacity: 1; /* Firefox */
}

.colorwhite {
  color: white;
}

.minibar {
  background: rgba(13, 18, 22, 0.98);
  width: 100px;
  height: 100vh;
  position: relative;
}
.minibar p {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.minibarparent {
  top: 80px;
}

.navresume {
  width: 100%;
  position: fixed;
  z-index: 900;
}

.tempcolor {
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.tempcolor1 {
  color: hsla(0deg, 0%, 100%, 0.9);
  margin-top: 20px;
  cursor: pointer;
}
.tempcolor1:hover {
  color: white;
}

.maxsidebar {
  background-color: rgba(13, 18, 22, 0.9);
  max-width: 380px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  height: 900px;
}

.maxbackground {
  background: #282c2c;
  position: absolute;
  left: 0;
  z-index: 1000;
  height: 90px;
  width: 100px;
  border-bottom-right-radius: 5px;
}

.tog {
  display: none;
}

/* Scroll */
html {
  scroll-behavior: smooth;
}

/* width */
.maxsidebar::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
.maxsidebar::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px;
}

/* Handle on hover */
.maxsidebar::-webkit-scrollbar-thumb:hover {
  background: #2a2f36;
}

.rused {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.rounded-div {
  cursor: pointer;
  width: 15px;
  height: 70px;
  background-color: rgba(13, 18, 22, 0.9);
  z-index: 300;
  position: fixed;
  left: 480px;
  top: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.func {
  cursor: pointer;
  width: 15px;
  height: 70px;
  background-color: rgba(13, 18, 22, 0.9);
  z-index: 300;
  position: fixed;
  left: 100px;
  top: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.mleft {
  margin-left: 100px !important;
}

.rotate {
  transform: rotate(90deg);
  margin-top: 18px;
  margin-left: -3px;
}

.gray {
  background: #e5e7eb;
}

.animate {
  background: white;
  height: 40px;
}
.animate p {
  font-size: 14px;
  font-weight: 600;
}

.notes {
  background: white;
  min-height: 40px;
}
.notes p {
  font-size: 14px;
  font-weight: 600;
}

.framer {
  color: black;
}

.cvsection {
  max-width: 456px;
  width: 100%;
}
.cvsection p {
  color: #0d1216;
}

.message {
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.add {
  background: rgba(64, 87, 109, 0.07);
  text-align: center;
  color: #0d1216;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 456px;
  font-weight: 600;
  cursor: pointer;
}
.add:hover {
  background: rgba(64, 87, 109, 0.09);
}

.smallborder {
  height: 20px;
  width: 0.5px;
  border: 1px solid #434343;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=range] {
    overflow: hidden;
    width: 216px;
    height: 2px;
    -webkit-appearance: none;
    background-color: rgb(247, 240, 240);
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #434343;
    margin-top: -1px;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20x;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #434343;
  }
}
/** FF*/
input[type=range]::-moz-range-progress {
  background-color: #434343;
}

input[type=range]::-moz-range-track {
  background-color: white;
}

/* IE*/
input[type=range]::-ms-fill-lower {
  background-color: #434343;
}

input[type=range]::-ms-fill-upper {
  background-color: white;
}

@media (max-width: 1400px) {
  .biganounce {
    flex-wrap: wrap;
  }
}
.bicon-p {
  width: 40px;
  height: 40px;
  background-color: hsla(0deg, 0%, 100%, 0.07);
  position: absolute;
  right: 90px;
  top: 40px;
  z-index: 200;
  cursor: pointer;
}
.bicon-p:hover {
  background-color: hsla(0deg, 0%, 100%, 0.05);
}

.bicon-p1 {
  width: 40px;
  height: 40px;
  background-color: hsla(0deg, 0%, 100%, 0.07);
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 200;
  cursor: pointer;
}
.bicon-p1:hover {
  background-color: hsla(0deg, 0%, 100%, 0.05);
}

.blueicon {
  color: white;
}

.homefunc {
  margin-left: 0px !important;
  padding-left: 16px;
  padding-right: 16px;
}

.widthfunc {
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
}

.marg {
  margin-top: 100px;
  padding-left: 28px;
  padding-right: 28px;
}

.padd {
  padding-left: 28px;
  padding-right: 28px;
}

.padd1 {
  padding-left: 28px;
  padding-right: 28px;
}

.biggest1 {
  max-width: none !important;
}

.swip1 {
  width: 1800px !important;
}

.foryouactive {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: white;
  position: absolute;
  top: 95px;
}

.for2 {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: white;
  position: absolute;
  top: 130px;
}/*# sourceMappingURL=main.css.map */